#page{
  background-color:rgb(20, 20, 20);
  margin: 0;
  font-family: Lexend;
}

@font-face {
  font-family: Lexend;
  src: url(fonts/Lexend-Medium.ttf);
}

.bgContainer{
  background-image: url("images/logoBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 85%;
}

.logoContainer{
  position: relative;
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
}

.logoContainer #MainLogo{
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  transform: translateY(5%);
  width: 87.5px;
  height: 10%;
}

.nav{
  background-color: rgb(12, 12, 12);
  width: 100%;
  margin-top: 25px;
}

.navBar ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navBar a:hover{
  color: gold;
  font-size: larger;
}

.navBar a{
  color: white;
  font-family: Lexend;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
  transition: all .2s linear;
}

.navBar li{
  display: inline-block;
  align-self: center;
}

#selfieContainer{
  position: relative;
  text-align: center;
  color: gold;
  font-family: Lexend;
  font-size: 150%;
  margin-top: 50px;
  margin-bottom: 30px;
}

.name{
  position: relative;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

#featuredPhoto{
  width: 70%;
  justify-self: center;
  transition: all .2s linear;
}

#featuredPhoto:hover{
  opacity: .5;
}

#featuredPhoto:hover~.name{
  visibility: visible;
  opacity: 1;
}

#projectContainer {
  background-color: rgb(15, 15, 15);
  padding: 5px;
  margin-bottom: 25px;
  text-align: center;
}

#projectContainer .projectText {
  font-size: 250%;
  color: white;
  margin-bottom: 20px; 
}

.projectImages {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  flex-wrap: wrap; 
  margin-bottom: 25px;
}

.projectImages img {
  width: 30%; 
  height: auto; 
  transition: all 0.2s linear; 
}

.projectImages img:hover {
  transform: scale(1.05); 
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
}

.footer{
  display: flex;
  background-color:rgb(30, 30, 30);
  height: 200px;
  width: 100%;
  bottom: 0;
}

.FooterLogo{
  align-self: center;
  margin-left: 50px;
  width: 60px;
  height: 100px;
}

.footer .footerText{
  color: white;
  margin-left: 30px;
  align-self: center;
  font-family: Lexend;
}

#Back{
  text-decoration: none;
  color: gold;
}